@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Gold Color */
.text-gold-500 {
  color: #D4AF37; /* Gold color */
}
.bg-gold-500 {
  background-color: #D4AF37; /* Gold color */
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}
